<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
    </style>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.2.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
    <script>
      var socket = io();
      var username='';
      var istyping = false;
    </script>
  </head>
  <body>
    <ul id="messages">
      <% for(var i=0; i<data.length;i ++) { %>
        <li><span style="color:red"><%= data[i].user %></span><span> : <%= data[i].message %></span</li>
      <% } %>
    </ul>
    <form action="">
      <input type="text" id="m"/>
      <button>Send</button>
    </form>
  </body>
  <script>

    socket.on('sayhello',function(data){
      $('#messages').append($('<li style="color:red">').text('Welcome '+data.username+' to room chat!'));
    });

    socket.on('request-user',function(data){
      username='';
      do {
       username = prompt(data.message,'Anonymous');
      } while (username == null || username == '');
      socket.emit('add-user',{username:username});
    })

    $('form').submit(function(){
      istyping=false;
      socket.emit('stop-typing',{username: username});
      socket.emit('send-message', {message:$('#m').val(),username:username});
      $('#m').val('');
      return false;
    });

    socket.on('send-message', function(data){
      $('#messages').append($('<li>').append($('<span style="color:red">').text(data.username)).append($('<span>').text(' : '+data.message)));
    });

    socket.on('remove-user',function(data){
      $('#messages').append($('<li style="color:red"><i>').text(data.username+data.message));
    });

    $('#m').keydown(function(){
      if(!istyping)
      {
        socket.emit('is-typing',{username: username});
        istyping=true;
      }
    });

    socket.on('typing',function(data){
      $('#messages').append($('<li style="color:blue" class="typing_'+data.username+'">').text(data.username+' is typing....'));
    });

    socket.on('stop-typing',function(data){
      $('.typing_'+data.username).fadeOut(function(){
        $(this).remove();
      });
    });

  </script>
</html>
